{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
  
</head>
<link rel="stylesheet" href="{% static 'chattapp/main.css' %}">
<body>
<div class="main-wrapper">
 <!--main-wrapper-->

    <div class="container">

         <!--navbar-->

        <div class="navbar">
            <a href="{% url "chat" %}">Chat</a>
            <br>
            <a href="{% url "document-upload" %}">upload document</a>
        </div>
          <!--navbar-->

        <!--chat-container-->
        <div class="chat-container">


            <div class="chat-wrapper">
             
             <!--question-response-->
            <div class="question-response">
                <div class="response">
                    <h3>Question:</h3>
                    {% for message_item in response_data.message %}
            {% for item in message_item %}
                {% if item.0 == 'page_content' %}
                  <pre> {{ item.1 | pprint}}</pre>
                   
                {% endif %}
            {% endfor %}
        {% endfor %}
                   

                </div>


                <div class="chat-message">
                    <form action='{% url "chat" %}' method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{form.chat}}

                    </form>

                </div>




                
            </div>
            <!--question-response-->
            



             <!--source-container-->
             
            <div class="source-response">
                <h3>Source:</h3>
                {% for message_item in response_data.message %}
                {% for item in message_item %}
                    {% if item.0 == 'metadata' %}
                      
                           
                            <pre>{{ item.1 | pprint }}</pre>
                    {% endif %}
                {% endfor %}
            {% endfor %}
                
            </div>
             <!--source-container-->


            </div>
 
       </div>
        <!--chat-container-->



    <!--main-wrapper-->
</div>
    
</body>
</html>


