<!-- templates/index.html -->

{% extends "pages/_base.html" %}

{% block content %}
  
<div class="flex flex-nowrap">
    <!--sidebar-->
    <div class=" flex flex-col space-y-4 w-14 bg-slate-900 w-96 h-screen rounded  mt-2 ml-2.5 mb-2  pt-4 px-4  text-white">
        <div class="upload document  mb-8  px-8 h-5/6">
            <form method="post" action="{% url 'chat-bot' request.user.username %}" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">TXT,PDF,CSV,WORD ETC </p>
                        </div>
                        {{uploadform.file}}
                    </label>
                </div> 

                <div>
                    <button type="submit" class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-2  rounded-full tracking-wide
                                font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
                    Upload
                </button>
                </div>
               

            </form>

            <div class="text-center">
                <div class="inline-flex items-center justify-center w-full">
                    <hr class="w-full h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                    
                </div>
                <h1>Source</h1>
                {% if documentSource %}
                {% for source in documentSource  %}

                {{source}}
                
                {% endfor %}
                {% endif %}
                
            </div>
        </div>
        

        <!--userprofile-->
        <div class="w-80 h-24 pt-8 ">
            <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                  <img class="inline-block flex-shrink-0 h-[2.875rem] w-[2.875rem] rounded-full" src="{{request.user.profile.avatar.url}}" alt="Image Description" />
                  <div class="ml-3">
                    <h3 class="font-semibold  text-white">{{request.user.username}}</h3>
                    <p class="text-sm font-medium  text-white">maria@gmail.com</p>
                  </div>
                </div>
              </div>
        </div>
         <!--userprofile-->
        
        </div>
        <!--sidebar-->
    <div class="dark:bg-slate-400 w-11/12 h-screen rounded md mt-2 ml-2.5 mb-2 px-8">
        


        <div class="chat h-5/6 mb-4 w-full p-2 overflow-auto">
            {% if response_data  %}
             {{response_data}}
            {% else %}
            {% endif %}
            
        </div>

        <div class="chat w-full h-10">
            <form method="post" action="{% url 'chat-bot' request.user.username %}">   
                {% csrf_token %}
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        {{chatform.chat}}
                        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-4">
                                <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
                              </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        

    </div>
  </div>
 
 
{% endblock content %}